$black: #454351;
$white: #DCDCE0;
html { background-color: $black; 
       color: $white;
       scrollbar-width: none; }
html::-webkit-scrollbar { display: none; }
a { color: $white; 
    text-decoration: none;}
::selection { background-color: $white;
              color: $black; }

/* base.html */
header { text-align: center;
         margin-bottom: 1.2rem; }
footer { margin-top: 2rem;
		 display: flex;
		 justify-content: center;
		 gap: 1.6rem;
		 font-size: 1rem;
		 font-weight: 900;
		 font-family: serif; }
body { margin-bottom: 40vh; }
#title { font-size: 2.2rem;
         font-family: serif; }
#hide { visibility: hidden; }
.about { font-size: 1.2rem;
         text-decoration: underline;
         font-family: serif; }
.tag { display: inline-block;
       margin-left: 0.4rem;
	   font-family: 'up', 'lo', serif;
		letter-spacing: 0.03rem; }
.emoji { font-size: 0.6rem;
         color: transparent;
         text-shadow: 0 0 0 $white;
         margin-right: 0.1rem; }
.emoji::selection{ text-shadow: 0 0 0 $black;
                   color: transparent; }
hr { margin: 1.4rem auto; }

/* blog.html */
.blog { display: flex;
        justify-content: space-evenly;}
@media (orientation: portrait) { .blog { flex-direction: column;
                                         align-items: flex-start;
                                         gap: 1.2rem; }
                                 .blog-container { display: flex;
                                                   justify-content: center; } }
.headline { font-size: 1.8rem;
            font-family: serif; }
.page-date { font-size: 0.9rem;
			 font-family: Cambria;
			 margin-right: 1rem; }
.link { font-size: 0.8rem; }
.page-title { font-family: 'ja', 'up', 'lo', 'nu', 'sy', sans-serif;
              margin: auto 1rem auto 0;
			  letter-spacing: 0.02rem; }
.td-links { text-align: right; }
.page-tag { font-size: 0.9rem;
			font-family: 'up', 'lo', serif;
			letter-spacing: 0.03rem;
			padding-right: 0.3rem; }
table { border-spacing: 0 0.2rem; }

/* tag/single.html */
.single { display: flex;
          justify-content: space-evenly; }

/* blog-page.html */
@font-face { font-family: 'ja';
			 src: local('UD Digi Kyokasho NK-R'), local('ヒラギノ角ゴ ProN W3'), local('Meiryo'), local('Noto Sans JP');
			 unicode-range: U+3005, U+3040-309F, U+30A0-30FF, U+4E00-9FFF;}
@font-face { font-family: 'lo';
    		 src: local('Georgia');
    		 unicode-range: U+0061-007A; }
@font-face { font-family: 'up';
    		 src: local('Tahoma');
    		 unicode-range: U+0041-005A; }
@font-face { font-family: 'nu';
			 src: local('Cambria');
    		 unicode-range: U+0030-0039; }
@font-face { font-family: 'sy';
    		 src: local('Segoe UI Symbol');
    		 unicode-range: U+0021-002F, U+003A-0040, U+005B-0060, U+007B-007E, U+2190-21AA, U+FF00-FFEF; }
.page-link { font-size: 1.2rem;
			 vertical-align: text-top; }
.page-content { font-family: 'ja', 'up', 'lo', 'nu', 'sy', sans-serif;
					
				p { font-size: 1.03rem; }
				a { text-decoration: underline; } 
                h1 { margin: 1.6rem auto 0;
                     text-decoration: none;
                     font-size: 1.6rem;
                     font-weight: normal;
                     font-family: serif; 
					}
                h2 { margin: 1.4rem auto 0;
                     text-decoration: none;
                     font-size: 1.4rem;
                     font-weight: normal;
                     font-family: serif; }
				h3 { margin: 1.2rem auto 0;
					 text-decoration: none;
					 font-size: 1.2rem;
					 font-weight: normal;
					 font-family: serif; }
				h1:before { content: "#";
							font-weight: 900;
						    margin-right: 5px; }
				h2:before { content: "##";
							font-weight: 900;
							margin-right: 5px; }
				h3:before { content: "###";
							font-weight: 900;
							margin-right: 5px; }
                p { margin: 0.1rem; }
                ul, ol, table, pre { margin: 0.5rem; 
                         padding-left: 1.6rem; }
                thead tr th{ font-weight: normal;
                             text-align: left; }
                blockquote { p { font-family: serif; }
                                 margin: 0.4rem #{"min(4vw, 2rem)"}; }
				code { font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
					   overflow-x: auto;
					   max-width: 100%;
					   display: block;
					   scrollbar-width: none; }
				code::-webkit-scrollbar { display: none; }
				.br { height: 1rem; }
				img { width: 100%; }
                margin: 1.2rem auto 0 auto;
                max-width: #{"min(90vw, 80vh);"} }

/* for smartphone */
@media (max-aspect-ratio: 3/4) and (-webkit-min-device-pixel-ratio: 2) { html { font-size: 3rem;
                                                                                width: 100vw; 
                                                                                -webkit-text-size-adjust: 100%; }}