{% extends "base.html" %}
{% block content %}

<div class="single">
  <div><div class="headline">{{ term.name }}</div>
  <table>{% for page in term.pages %} <tr>
    <td><div class="page-date">{{ page.date }}</div></td>
    <td><span class="page-title" >
		{% if page.taxonomies.links %}<a class="link" href="{{ page.taxonomies.links[0] }}" target="_blank" rel="noopener noreferrer">⧉</a>{% endif %}
		<a href="{{ page.permalink }}">{{ page.title }}</a></span></td>
    <td>{% for term in page.taxonomies.tags %}
      <a class="page-tag" href="../{{ term | lower | safe }}/"><span class="emoji">🔖️</span>{{ term }}</a>
    {% endfor %}</td>
  </tr> {% endfor %} </table>
</div>

{% endblock content %}
