{% extends "base.html" %}

{% block content %}
<div class="list">
  <div><div class="headline">{{ term.name }}</div>
  <table>
    {% for page in term.pages %}
      <tr>
        <td><div>{{ page.date }}</div></td>
        <td><a class="pages" href="{{ page.permalink }}">{{ page.title }}</a></td>
        <td>{% for term in page.taxonomies.tags %}
          <a href="../{{ term | safe }}/"><span class="emoji">🔖️</span>{{ term }}</a>
        {% endfor %}</td>
      </tr>
    {% endfor %}
  </table>
  </div>
</div>
{% endblock content %}
