{% extends "base.html" %}
{% import 'macros.html' as macros -%}

{% block content %}

{% set section = get_section(path="post/_index.md") %}
{% set pages = section.pages %}
{% set dates = [] %}{% set titles = [] %}
{% for page in pages %}
	{% set_global dates = dates | concat(with=page.date) %}
	{% set_global titles = titles | concat(with=page.title) %}
{% endfor %}
{% set years = macros::years(dates=dates) %}

{% set test_dates = ['2025-06-29', '2024-06-28', '2023-06-27', '2023-06-26', '2025-06-25'] %}
{% set test_titles = ['2025年06月29日', '2024/06/28', '20230627', '2023 06 26', '25年6月25日'] %}
{% set test_years = macros::years(dates=test_dates) %}

<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />
<meta name="description" content="夏果しきの紹介" />

<div class="single">
  <div>
    <div class="headline">{{ page.title }}
		{% if page.taxonomies.links %}<a class="page-link" href="{{ page.taxonomies.links[0] }}" target="_blank" rel="noopener noreferrer">⧉</a>{% endif %}
	</div>
    <span class="page-date">{{ page.date | replace(from="-", to=".") }}</span>
    <span class="page-tag"> {% for term in page.taxonomies.tags %}
      <a class="tag" href="../../tags/{{ term | safe }}/"><span class="emoji">🔖️</span>{{ term }}</a>
    {% endfor %} </span>
    <div class="page-content">{{ page.content |
								 linebreaksbr |
								 replace(from="</p><br><p>", to="</p><p class='br'></p><p>") |
								 replace(from="<br><a", to="<br \><a") |
								 replace(from="<br><c", to="<br \><c") |
								 replace(from="<br><", to="<") |
								 safe}}
		<h1 id="log">更新履歴</h1>
		GitHubのコントリビューションを模倣した更新履歴．
		実装については<a href="../post/20230702">GitHubのContributionを模倣</a>にある．
		{%for year in years | split(pat=',') %}
		    <h2> {{ year }} </h2>
			<div style="overflow-x: auto;">{{ macros::main(year=year | int, dates=dates, titles=titles)}}</div>
		{% endfor %}
	</div>
  </div>
</div>

<style>
	table {
	  margin-top: 0!important;
	  margin-bottom: 0!important;
	  padding-bottom: 10px;
	  font-size: 65%;
	  border-collapse: m09yarate;
	  border-spacing: 0.2em 0;
	}
	
	th {
	  text-align: left;
	  font-weight: normal;
	}
	
	td {
	  padding: 0;
	}
	
	td::after {
	  content: "";
	  display: block;
	  box-sizing: border-box;
	  width: 1em;
	  height: 1em;
	  background-color: #454351;
	  border: 1px solid #DCDCE0;
	}
	
	td.amt::after {
	  display: none;
	}
	
	td {
	  position: relative;
	}
	
	td a {
	  display: block;
	  box-sizing: border-box;
	  width: 1em;
	  height: 1em;
	  background-color: #454351;
	  z-index: 1;
	  text-m12yoration: none;
	}
	
	td.amt a {
	  background-color: #DCDCE0;
	}
	
	td[class^="amt"] a:focus::before,
	td[class^="amt"] a:hover::before {
	  position: absolute;
	  display: block;
	  z-index: 1;
	  bottom: -0.2em;
	  left: 1.5em;
	  white-space: nowrap;
	  width: auto;
	  max-width: 57em;
	  padding: 0.5em 0.75em;
	  border: 0.05em solid #DCDCE0;
	  border-radius: 0.2em;
	  content: attr(aria-label);
	  background-color: #454351;
	  color: #DCDCE0;
	  font-size: 110%;
	  animation: TOOLTIP 0.1s ease-out 1;
	}
	
	td[class^="amt"]:nth-child(n + 45) a:focus::before,
	td[class^="amt"]:nth-child(n + 45) a:hover::before {
	  left: -12em;
	}
</style>

{% endblock content %}
