{% extends "base.html" %}
{% import 'macros.html' as macros -%}

{% block content %}

{% set section = get_section(path="post/_index.md") %}
{% set pages = section.pages %}
{% set dates = [] %}{% set titles = [] %}
{% for page in pages %}
	{% set_global dates = dates | concat(with=page.date) %}
	{% set_global titles = titles | concat(with=page.title) %}
{% endfor %}
{% set years = macros::years(dates=dates) %}

{% set test_dates = ['2025-06-29', '2024-06-28', '2023-06-27', '2023-06-26', '2025-06-25'] %}
{% set test_titles = ['2025年06月29日', '2024/06/28', '20230627', '2023 06 26', '25年6月25日'] %}
{% set test_years = macros::years(dates=test_dates) %}

<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />
<meta name="description" content="夏果しきの紹介" />

<div class="single">
  <div>
    <div class="headline">{{ page.title }}
		{% if page.taxonomies.links %}<a class="page-link" href="{{ page.taxonomies.links[0] }}" target="_blank" rel="noopener noreferrer">⧉</a>{% endif %}
	</div>
    <span class="page-date">{{ page.date | replace(from="-", to=".") }}</span>
    <span class="page-tag"> {% for term in page.taxonomies.tags %}
      <a class="tag" href="../../tags/{{ term | safe }}/"><span class="emoji">🔖️</span>{{ term }}</a>
    {% endfor %} </span>
    <div class="page-content">{{ page.content |
								 linebreaksbr |
								 replace(from="</p><br><p>", to="</p><p class='br'></p><p>") |
								 replace(from="<br><a", to="<br \><a") |
								 replace(from="<br><c", to="<br \><c") |
								 replace(from="<br><", to="<") |
								 safe}}
		<h1 id="log">calendar</h1>
		GitHubのコントリビューションを模倣した更新履歴．
		実装については<a href="../post/20230702">GitHubのContributionを模倣</a>にある．
		{%for year in years | split(pat=',') %}
		    <h2> {{ year }} </h2>
			<div class="cal">{{ macros::main(year=year | int, dates=dates, titles=titles)}}</div>
		{% endfor %}
		<br>
		<h1>icon</h1>
		<div id="aa">
			{% raw %}
			　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　 ,,,,,,━━¨¨¨''━,,,,,,,,━━━,,,,,,<br>
			　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　 　,,,,,r'''~¨　　　　　　　　¨′　　　　 ｀¨'''ｘ,,,<br>
			　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　 　,,,,,㌻　　　　　　　　　　　　　　　　　　　　　~'''ｘ,,,<br>
			　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　 　 ,,rf'′　　　　　　　　　　　　　　　　　　　　　 　　　＾''%,,<br>
			　　　　　　　　　　　　　　　　　　　　　　　　　　　 　 　 ,jj''′　　　　　　　　　　　　　　　　　　　　　　　　　　　　 ''%,,<br>
			　　　　　　　　　　　　　　　　　　　　　　　　　　　 　 ,,ji'′　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　 ﾟ《%<br>
			　　　　　　　　　　　　　　　　　　　　　　　　　　 　 jj''′　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　'《%<br>
			　　　　　　　　　　　　　　　　　　　　　　　　　 　 ,jj′　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　 　　　ﾟ《i_<br>
			　　　　　　　　　　　　　　　　　　　　　　　　　　,jj′　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　 　　　%i,<br>
			　　　　　　　　　　　　　　　　　　　　　　 　 　 ,j}′　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　 　 %i,<br>
			　　　　　　　　　　　　　　　　　　　　　　　 　 j}′　　　　　　　　　　　　　　　　　　　　　　　 　 　 i 　　　　　　　　　　　 　 　 %i_<br>
			　　　　　　　　　　　　　　　　　　　　　　 　 ,j{′　　　　　　　　　　　　　　　　　　　　　　　　 》i 　 ||　　　　　　　　　　　　　 　 %|<br>
			　　　　　　　　　　　　　　　　　　　　　　　 ,j}′　　　　　　　　 　 　 ||　　　　　　　　　　　 　 :|||　 l|　　　　　　　　　　　　 　 　 《|<br>
			　　　　　　　　　　　　　　　　　　　　　 　 ,j}′　　　　　　　　 　 　 j||| 《,,　　　　　　　　　 　 |||||　||　 ､ 　　　　　　　　　　 　 　 %|<br>
			　　　　　　　　　　　　　　　　　　　　　　 ,j|′　　　　　　　　 　 　 j|| ||　'%i,　　　　　　 　 　 j||||| i|||　　ﾟ%,　　　　　　　　　　　 　 |||<br>
			　　　　　　　　　　　　　　　　　　　 　 　 j|　　　　　　　　　　　　 ,j||　||　　%《　　　　　　 　 ,j| '||| ||　　　 %i, 　 　 ii|　　　　　　 　 l||<br>
			　　　　　　　　　　　　　　　　　　　　 　 j||　　　 　 |||　　　 　 　 j|′ ||　　　《i,　　　 　 　 j||　 || ||　 　 　 %ii 　　 ||　　　　　 　 　 ||<br>
			　　　　　　　　　　　　　　　　　　　　　 j||　　 　 　 ||　　　　 　 jj{　 ,,||　　　　ﾞ《i 　　　 　 || 　 |||||　　 　 　 '%| 　 |||　　　　　 　 　 ||<br>
			　　　　　　　　　　　　　　　　　　 　 　 ||　　　　　 i||　　　 　 ,,j'′　《　　 　 　 '%,　　 　 j|| 　 |||||　　　 　 　 《| 　i||　　　　　　　　 l||<br>
			　　　　　　　　　　　　　　　　　　　 　 j||　　　　 　 ||　　　 r'''''　　　　　　　　 　 'l||　　 ,j|′　j|||　,_,,,,,,,,,,,,,_,___,》　i||　　　　　　　 　 |||<br>
			　　　　　　　　　　　　　　　　　　　　 ,||　　　 　 　 |||　 ll|　　 　,,,,,,,,,,,,,,,,,__　 　 　 || 　 j|′　j{|',,,'''~'''{||'''''''l|¨¨'''|ii|||　　　　　　 　 　 ||<br>
			　　　　　　　　　　　　　　　　　 　 　 i||　　　　　 　 ||　 l||　,,,,'''~'''''''''''''''l|¨冖ll;,,　 ||　,,|}　 ,,,j{''　　　 '{''''|lllll|　　 ,j|||　　　　　　 　 　 [|<br>
			　　　　　　　　　　　　　　　　　　 　 ,||　　　　 　 　 [||　[||,i{{{ 　 《,,||,',,,,,,|　　|||'　 |||,,i{′　″　　ヽ､.,_二,,'　 _,,,,j{}}　,,,　　　　　 　 　 l||<br>
			　　　　　　　　　　　　　　　　　　　 ,j||　　　　　　 　 ∨ {||{''lli,,　　'¨'''''',　 ,,ｨ{'′ :j||}′　　　　　　　　　￣¨¨´'',{{|　j}′　　　　　　　 ┃<br>
			　　　　　　　　　　　　　　　　 　 　 j||　　　　　　　 　 '《i {{|　 '''''=-''''"´´　 　 　 i{'′　　　　　　　　　　　　 　 }}|_i,{′　　　　　　　　 l||<br>
			　　　　　　　　　　　　　　　　　 　 i||　　　　　　　　 　 l||ｉ《》,　　　　　　　　　　　 　　　j　　　　　　　　　　 　 j}|jiiii|　　　　　　　　　　 [||<br>
			　　　　　　　　　　　　　　　　　 　 ||　 　　　　　　　　 ,|| 'l《込_　　　　　　　　　　　　　　　　　　　　　　　 　,,j|||'' ||　　　　　　　　　 　 l||<br>
			　　　　　　　　　　　　　　　　　　 i||　 j{　　　　　 　 　 ||　 '''''|》,,　　　　　　　　　　　　　　　　　　　　　　,,,j,''''　 j||　　　　　　　　 　 　 i||<br>
			　　　　　　　　　　　　　　　 　 　 ||　 |||　　　　　 　 　 ||,,　　 ''''iｪｪr,,　　　　　　　　　　　　　　　　　 ...イ''′　 jj′　　　　　　　 　 　 ||||||<br>
			　　　　　　　　　　　　　　　 　 　 ||　|||||　　　　　 　 　 |||¨━ｘｘ'{{,　　　　　　　 　 　 x=ニニ　　　　　　　 　 ,,{′　　　　　　　　　 　 i|| 《||,<br>
			　　　　　　　　　　　　　　　　 　 i|| ,||| ||　　　　　 　 　 l||　　　　 ''《,,_　　　　　　　　　　　　　　　　　　 　 ,,,j''′ _　　　　　　　　　 　 ||　'l《'',',<br>
			　　　　　　　　　　　　　　　　 　 |||_||　l||　　　　　 　 　 l||　　　 　　 ''%ｘ_　　　　　　　　　　　　　 　 　,,,,jf'′ 　 |||　　　　　　　 　 　 ||　　 ''''━ｪ,,,,,,ji<br>
			　　　　　　　　　　　　　　　　 　 || ||　 [||　 iij　　　　 　 l||　　　　 iii　　｀''''ｘ,,,　　　　　　　　　 　　,,,rf||′　 　 _j|||　　　　　　　　 　 ||<br>
			　　　　　　　　　　　　　　　　 　 |||||　　 ||　{||　　　　 　 |||　　 　 :|||　　　　 ||ﾟ'━,,,,　　　　　　,,,r''''　i{|　　 　 ,,i,' ||　　 　 jｉ　 　 ,}|| ii||<br>
			　　　　　　　　　　　　　　　　 　 |||||　　 ∨ ,l||　　 　 　 i|||| 　 　 :||||　 　 　 ||　　~¨━ｪx,,xf''''''　 　 i||　　 ,,,j'''　i|| 　 　 j||||　　,j|||||||<br>
			　　　　　　　　　　　　　　　　 　 l|||| 　 　 《i_||||　　　 　 || %i, 　　,|| {|i　　 __,||　　　　　　　　　　　 　 ||,,,,,,'''″　,}|　　 ,,j{' || 　,,i,' |||||<br>
			　　　　　　　　　　　　　　　 　 　 {|||　　 　 ∨||ii,　　 　 ||　 '《, 　 ||_,,,|i'''''''''';l||　　　　　　　　　　　 　 {{{¨''''ｘｘ,,,,{|　　,,,《　||| ,i,,'　j||'′<br>
			　　　　　　　　　　　　　　　　　　 '{{||　 　 　 ||| ''%,_　　 ||　　,,》,x''''''''　　　 ,j}|　　　　　　　　　　 　 　 '《{　　 ¨''''k,,,,i{″ j||i'i''　,,,{''<br>
			　　　　　　　　　　　　　　　　　 　 '《》,,　　　j|||　 '''''i,,　,||,r'''''ﾞ′　　 　 ,,,,,,'ﾞ　　　　　　　　　　　　　　　 %i_　　　　｀'''''ｘ'{{'''<br>
			　　　　　　　　　　　　　　　　　　　　 '''''''ｘ､,j,''　 ,,,,,,,㌻'''　　　　　 　 jj''''′　　　　　　　　　　　　　　　　　ﾟ'ii|　　　　　 ｀'''''ｘ,,,,,<br>
			　　　　　　　　　　　　　　　　　　　　 　 　,ji,,,,,,'''''¨´　　　　　　　　　 l||　　　　　　　　　　　　　　　　　　 　 j||　　　　　　　　｀~¨'━,,,,,,<br>
			　　　　　　　　　　　　　　　　　 　 ,,,,,,,,,━~¨　　　　　　　　　　　　 　 ||　　　　　　　　　　　　　　　　 　 　 j}|　　　　　　　　　　　　 ｀~¨''━,,,,,,<br>
			　　　　　　　　　　　　　　　 　 ,,f㌻¨　　　　　　　　　　　　　　　 　 　 {|_　　　　　　　　　　　　　　　　 　 jj}　　　　　　　　　　　　　　　　　 ｀~'''iij,,,,_<br>
			　　　　　　　　　　　　　　 　 jj'' 《{,　　　　　　　　　　　　　　　　　　 　 《|　　　　　　　　　　　　　　　 　 jj′　　　　　　　　　　　　　　　　　 　 j}'' ~'《ｘ<br>
			　　　　　　　　　　　　　 　 ,jj′　%i, 　　　　　　　　　　　　　　　　 　 　 《|　　　　　　　　　　　　　　　 ,jj′　　　　　　　　　　　　　　　 　 　 ,jj'′　　'ﾟ%,_<br>
			　　　　　　　　　　　 　 　 ,j}′　　 込　　　　　　　　　　　　　　　　 　 　 %i_　　　　　　　　　　　　 　 jj′　　　　　　　　　　　　　　　　 　 ,,ji'′　　　　 《i_<br>
			　　　　　　　　　　　　 　 j}′　　　　ﾞ《%　　　　　　　　　　　　　　　　　 　 《i,　,,,,,,,,,,━━,,,,,,,,, 　 　 ,j{′　　　　　　　　　　　　　　 　 　 ,,,,'′　　　 　 　 《|<br>
			　　　　　　　　　　 　 　 j}′　　　　　　ﾟ《i,_　　　　　　　　　　　　　　　　 　 %i{~¨　　　　　~~~''''≦,j'′　　　　　　　　　　　　　　　 　 ,jj''′　　　　　　　　 ||<br>
			　　　　　　　　　　　　 ,j}′　　　　　　　　''☆　　　　　　　　　　　　　　 　 　 《i,　　　　　　 　 　 jj'′　　　　　　　　　　　　　　 　 ,,,j''′　　　　　　　 　 　 l||<br>
			　　　　　　　　　 　 　,j}′　　　　　　　　　　'''''ｘ,,　　　　　　　　　　　　　　　　%i,　　　　　　 　,,j{′　　　　　　　　　　　　　　　,,,j,''′　　　　　　　　　 　 　 ||<br>
			　　　　　　　　　　　 ,j}′　　　　　　　　　 　　　'''''ｘ,_　　　　　　　　　　　 　　　 %, 　　　　　 ,jjﾞ　　　　　　　　　　　　　　　,,,r'''′　　　　　　　　　　　 　 　 [||<br>
			　　　　　　　　 　 　 j|　　　　　　　　　　　　　 　　　'''''ｘ,,,　　　　　　　　　　　　　‘%_　　 　 ,j{′　　　　　　　　　　 　　,,,,,''''′　　　　　　　　　　　　　　　 　 ||<br>
			　　　　　　　　　 　,j}|　　　　　　　　　　　　　　　　　　　¨'''ｘ,,,,　　　　　　　　 　 　 ﾏ,_　　,,j{′　　　　　　　　　　 ,,,,,r'''''　　　　　　　　　　　　　　　　　 　 　 [||<br>
			　　　　　　　 　 　 j|′　　　　　　　　　　　　　　　　　　　　 ｀¨''''ｘ,,,,,　　　　　　　　 ‘《　,j}′　　　　　　　　 ,,,,,,,'''~'´　　　　　　　　　　　　　　　　　　　　　　 'l||<br>
			　　　　　　　　 　 j||　　　　　　　　　　　　　　　　　　　　　　　　　 ~¨''━,,,,,,　　 　　　''''||''　　　 　 　 ,,,,,,,,,''''~¨　　　　　　　　　　　　　　　　　　　　　　　 　 　 《|<br>
			　　　　　　 　 　 j{|　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　~¨'━━,,,,,,,,_,廴_,,,,,,,,,,,━''¨¨´　　　　　　　　　　　　　　　　　　　　　　　　　　　 　 　 込<br>
			{% endraw %}
		</div>
	</div>

  </div>
</div>

<style>
	table {
	  margin-top: 0!important;
	  margin-bottom: 0!important;
	  padding-bottom: 10px;
	  font-size: 65%;
	  border-collapse: m09yarate;
	  border-spacing: 0.2em 0;
	}
	
	th {
	  text-align: left;
	  font-weight: normal;
	}
	
	td {
	  padding: 0;
	}
	
	td::after {
	  content: "";
	  display: block;
	  box-sizing: border-box;
	  width: 1em;
	  height: 1em;
	  background-color: #454351;
	  border: 1px solid #DCDCE0;
	}
	
	td.amt::after {
	  display: none;
	}
	
	td {
	  position: relative;
	}
	
	td a {
	  display: block;
	  box-sizing: border-box;
	  width: 1em;
	  height: 1em;
	  background-color: #454351;
	  z-index: 1;
	  text-m12yoration: none;
	}
	
	td.amt a {
	  background-color: #DCDCE0;
	}
	
	td[class^="amt"] a:focus::before,
	td[class^="amt"] a:hover::before {
	  position: absolute;
	  display: block;
	  z-index: 1;
	  bottom: -0.2em;
	  left: 1.5em;
	  white-space: nowrap;
	  width: auto;
	  max-width: 57em;
	  padding: 0.5em 0.75em;
	  border: 0.05em solid #DCDCE0;
	  border-radius: 0.2em;
	  content: attr(aria-label);
	  background-color: #454351;
	  color: #DCDCE0;
	  font-size: 110%;
	  animation: TOOLTIP 0.1s ease-out 1;
	}
	
	td[class^="amt"]:nth-child(n + 45) a:focus::before,
	td[class^="amt"]:nth-child(n + 45) a:hover::before {
	  left: -12em;
	}

	.cal { 
		overflow-x: auto;
		-ms-overflow-style: none;
  		scrollbar-width: none;
	}
	.cal::-webkit-scrollbar { display: none; }

	@font-face {
		font-family: 'aahub_light';
		src: url("{{ get_url(path='aahub_light.woff2', trailing_slash=false) | safe }}") format("woff2");
		font-display: swap;
	}

	#aa {
		white-space: pre;
    	font-size: 16px;
    	font-family: 'ＭＳ Ｐゴシック', 'aahub_light', sans-serif;
    	transform: scale(0.4);
    	transform-origin: top left;
    	line-height: 18px;
		
	}
</style>

{% endblock content %}
