<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{ get_url(path='style.css', trailing_slash=false) | safe }}">
  <meta charset="utf-8">
  <title>夏果</title>
</head>

<body>
  <a href="{{ config.base_url }}">夏果</a>

  <div>
    {% set tags = get_taxonomy(kind="tags", lang=lang) %}
      {% for term in tags.items %}
        <a href="{{ term.permalink | safe }}">{{ term.name }}</a>
      {% endfor %}
  </div>

  <div class="main">
      <div>{% block title %} {% endblock title %}</div>
      {% block content %} {% endblock %}
  </div>
</body>

</html>
