<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{ get_url(path='style.css', trailing_slash=false) | safe }}">
  <meta charset="utf-8">
  <title>夏果</title>
</head>

<body>
  <div class="base">
    <div id="title"><a href="{{ config.base_url }}">夏果</a></div>

    <div id="tags">
      {% set tags = get_taxonomy(kind="tags", lang=lang) %}
        {% for term in tags.items %}
          <a href="{{ term.permalink | safe }}"><span class="emoji">🔖️</span>{{ term.name }}</a>
        {% endfor %}
    </div>
  </div>

    {% block content %} {% endblock %}
</body>

</html>
