{% extends "base.html" %}

{% block title %} top {% endblock title %}

{% block content %}
  <ul class="list">
    {% for page in section.pages %}
      <li>
        <span class="date">{{ page.date }}</span>
        <a class="nobr" href="{{ page.permalink }}">{{ page.title }}</a> 
        <span class="nobr">
          {% for term in page.taxonomies.tags %}
            <a href="tags/{{ term | safe }}/">{{ term }}</a>
          {% endfor %}
        </span>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}