{% extends "base.html" %}

{% block content %}
<div class="list">
  <div><div class="headline">記事</div>
  <table>
    {% for page in section.pages %}
      <tr>
        <td><div class="info">{{ page.date }}</div></td>
        <td><a class="list-title" href="{{ page.permalink }}">{{ page.title }}</a></td>
        <td>{% for term in page.taxonomies.tags %}
          <a class="info" href="tags/{{ term | safe }}/"><span class="emoji">🔖️</span>{{ term }}</a>
        {% endfor %}</td>
      </tr>
    {% endfor %}
  </table>
  </div>
</div>
{% endblock content %}
