{% extends "base.html" %}
{% block content %}
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:url" content="url" />
<meta property="og:site_name" content="夏果" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@natsuka_sili" />
<div class="single">
  <div>
    <div class="headline">{{ page.title }}
		{% if page.taxonomies.links %}<a class="page-link" href="{{ page.taxonomies.links[0] }}" target="_blank" rel="noopener noreferrer">⧉</a>{% endif %}
	</div>
    <span class="page-date">{{ page.date }}</span>
    <span class="page-tag"> {% for term in page.taxonomies.tags %}
      <a class="tag" href="../../tags/{{ term | safe }}/"><span class="emoji">🔖️</span>{{ term }}</a>
    {% endfor %} </span>
    <div class="page-content">{{ page.content |
								 linebreaksbr |
								 replace(from="</p><br><p>", to="</p><p class='br'></p><p>") |
								 replace(from="<br><a", to="<br \><a") |
								 replace(from="<br><c", to="<br \><c") |
								 replace(from="<br><", to="<") |
								 safe}}</div>
  </div>
</div>

{% endblock content %}
