{% extends "base.html" %}

{% block content %}
<div class="list">
  <div><div class="headline">記事</div>
  <table>
    {% if paginator %}
        {% set pages = paginator.pages %}
        {% else %}
        {% set pages = section.pages %}
    {% endif %}

    {% for page in pages %}
      <tr>
        <td><div class="info">{{ page.date }}</div></td>
        <td><a class="list-title" href="{{ page.permalink }}">{{ page.title }}</a></td>
        <td>{% for term in page.taxonomies.tags %}
          <a class="tag" class="info" href="tags/{{ term | safe }}/"><span class="emoji">🔖️</span>{{ term }}</a>
        {% endfor %}</td>
        <td>{% if page.taxonomies.categories %}
          {% if "test1" in page.taxonomies.categories  %}
        {{page.taxonomies.categories}}true
        {% else %}
        {{page.taxonomies.categories}}false
        {% endif %}
        
        {% endif %}</td>
      </tr>

    {% endfor %}
  </table>

  
  </div>
</div>
{% endblock content %}
