{% extends "base.html" %}
{% block content %}
{% set section = get_section(path="post/_index.md") %}
{% if paginator %} {% set pages = paginator.pages %} {% else %} {% set pages = section.pages %} {% endif %}

<div class="blog-container">
  <div class="blog">
    <div>
      <div class="headline">理性</div>
      <table> {% for page in pages %} {% if page.taxonomies.categories %} {% if "tech" in page.taxonomies.categories %} <tr>
          <td><div class="page-date">{{ page.date }}</div></td>
          <td><span class="page-title" >
			{% if page.taxonomies.links %}<a class="link" href="{{ page.taxonomies.links[0] }}" target="_blank" rel="noopener noreferrer">⧉</a>{% endif %}
			<a href="{{ page.permalink }}">{{ page.title }}</a></span></td>
          <td>{% for term in page.taxonomies.tags %}
            <a class="page-tag" href="tags/{{ term | safe }}/"><span class="emoji">🔖️</span>{{ term }}</a>
          {% endfor %}</td>
      </tr> {% endif %}{% endif %} {% endfor %} </table>
    </div>

    <div>
      <div class="headline">感性</div>
      <table> {% for page in pages %} {% if page.taxonomies.categories %} {% if "other" in page.taxonomies.categories %} <tr>
        <td><div class="page-date">{{ page.date }}</div></td>
        <td><span class="page-title" >
			{% if page.taxonomies.links %}<a class="link" href="{{ page.taxonomies.links[0] }}" target="_blank" rel="noopener noreferrer">⧉</a>{% endif %}
			<a href="{{ page.permalink }}">{{ page.title }}</a></span></td>
        <td>{% for term in page.taxonomies.tags %}
          <a class="page-tag" href="tags/{{ term | safe }}/"><span class="emoji">🔖️</span>{{ term }}</a>
        {% endfor %}</td>
      </tr> {% endif %} {% endif %} {% endfor %} </table>
    </div>
  </div>
</div>

{% endblock content %}
