{% extends "base.html" %}
{% block content %}
{% set section = get_section(path="post/_index.md") %}
{% if paginator %} {% set pages = paginator.pages %} {% else %} {% set pages = section.pages %} {% endif %}

<div class="blog-container">
  <div class="blog">
    <div>
      <div class="headline">tech</div>
      <table> {% for page in pages %} {% if page.taxonomies.categories %} {% if "tech" in page.taxonomies.categories %} <tr>
          <td><div class="page-date">{{ page.date }}</div></td>
          <td><a class="page-title" href="{{ page.permalink }}">{{ page.title }}</a></td>
          <td>{% for term in page.taxonomies.tags %}
            <a class="page-tag" href="tags/{{ term | safe }}/"><span class="emoji">🔖️</span>{{ term }}</a>
          {% endfor %}</td>
      </tr> {% endif %}{% endif %} {% endfor %} </table>
    </div>

    <div>
      <div class="headline">other</div>
      <table> {% for page in pages %} {% if page.taxonomies.categories %} {% if "other" in page.taxonomies.categories %} <tr>
        <td><div class="page-date">{{ page.date }}</div></td>
        <td><a class="page-title" href="{{ page.permalink }}">{{ page.title }}</a></td>
        <td>{% for term in page.taxonomies.tags %}
          <a class="page-tag" href="tags/{{ term | safe }}/"><span class="emoji">🔖️</span>{{ term }}</a>
        {% endfor %}</td>
      </tr> {% endif %} {% endif %} {% endfor %} </table>
    </div>
  </div>
</div>

{% endblock content %}
